body {
  text-align: center;
  background-color: #011F3F;
  overflow-x: hidden;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  margin-top: 40px;
  
  /* center */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 180px;
  width: 180px;
  border: 8px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media only screen and (max-width: 1050px) {
  #level-title {
    font-size: 1.5rem;
    margin-top: 18%;
  }

  .btn {
    margin: 8px;
    height: 13vh;
    width: 200px;
    border-radius: 10%;
  }
}
